body{
    position: relative;
}


.nav-item{
    margin-left: 2.2em;
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
}
.home{
    padding-top: 12rem;
    padding-bottom: 7rem;
    font-family: 'Roboto', sans-serif;
    
}

#about{
    padding: 7rem 0rem;
    font-family: 'Roboto', sans-serif;
}

#project{
    padding: 8rem 0rem;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(233, 233, 232); */
}

#contact{
    padding: 7rem 0rem;
}

footer{
    background-color: #fafaf5;
}

section{
    min-height: 600px;
}

.active::after{
    content: '';
    display: block;
    border-bottom: 3px solid blue;
    border-radius: 3px;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
}


